diffusers==0.30.3 fairscale==0.4.13 transformers==4.25.1 einops==0.3.0  torchdiffeq==0.2.4 pandas==2.0.0 decord==0.6.0 marshmallow==3.22.0 python-dotenv==1.0.1  coloredlogs==15.0.1  easydict==1.13  accelerate==0.34.2  omegaconf==2.1.1  lightning==2.4.0 opencv-python==4.10.0.84 imageio==2.35.1 imageio-ffmpeg==0.5.1 pillow==10.3.0 loguru==0.5.3 oss2==2.15.0 pydantic==2.4.2 pydantic-settings==2.1.0 PyYAML==6.0 ruamel.yaml==0.17.35